.container .title{
    /* background-color: rgb(146, 143, 143); */
    font-family: 'Crimson Text', serif;
}

.container{
    margin-top: 5%;
    width: 50%;
    background-color:  rgb(27, 23, 23);
}

.required_field{
    color: red;
}

body, html {
    height: 100%;
    color: white;
  }

.bg {
    /* The image used */
    background-image: url("./Images/confrence.jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    opacity: 1;
  }