.main_container{
    margin-top: 5%;
    width: 600px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(239, 226, 149, 0.2);
}
.second_container{
    margin-top: 3%;
    max-width: 80%;
    color: white;
    font-family: 'Crimson';
}
.third_container{
    margin-top: 3%;
    max-width: 80%;
    color: white;
    font-family: 'Crimson';
}

.background_image{
    background-image: url(./Images/bkg.jpg);
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    opacity: 1;
}

body, html {
    height: 500px;
    background-color: rgb(54, 2, 102);
    color: rgb(36, 30, 30);
  }

.column_image1{
    max-width: 500px;
    float: right;
}

.column_image2{
    max-width: 400px;
    float: left;
}

hr {
    display: block;
    height: 3px;
    width: 100%;
    float: center;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}